// SVG Used as a Background Image, 
// PNG Fallback with Modernizr


// Declare no-repeat on svg images
.logo,
.admin-icon{
	background-repeat: no-repeat;
}

// Site logo
.logo { background-image: url('../images/svg/marvel-rocket.svg');}
.no-svg .logo { background-image: url('../images/marvel-logo.gif'); background-size:100px}


// user icon
.admin-icon { background-image: url('../images/svg/user.svg');}
.no-svg .admin-icon { background-image: url('../images/marvel-logo.png');}

// promo-block
.marvel-promo-block { background-image: url('../images/svg/First_National_Bank.svg');}
.no-svg .marvel-promo-block { background-image: url('../images/svg/First_National_Bank.png');}

// dropdown-toggle
.toggle-title span.arrow-down{ background-image: url('../images/svg/arrow-down.svg');}
.no-svg .toggle-title span.arrow-down{ background-image: url('../images/arrow-down.png');}	

// Title dropdown-toggle
.sidebar-title { background-image: url('../images/svg/arrow-down-green.svg');}
.no-svg .sidebar-title{ background-image: url('../images/arrow-down-green.png');}	

// User tools 
.btn-get-work { background-image: url('../images/svg/getwork.svg');}
.capture { background-image: url('../images/svg/capture.svg');}
.refresh { background-image: url('../images/svg/refresh.svg');}

// indexing
// .case-img{ background-image: url('../images/svg/case-folder.svg');}