
.navbar-marvel{
	li.dropdown.pull-left {
		border-right: 1px solid #FFF;
	}
	li.inqueue {
		padding: 0px 10px;
		color: white;
		font-weight: normal;
	}
	background-color: $brand-marvel;
	border-color: $brand-marvel;
		.logo{
			margin: 0px 13px;
			text-indent: -9999px;
			background-size: 100px;
			width: 100px;
			// for IE
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='../images/marvel-logo.gif',
			sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/marvel-logo.gif',sizingMethod='scale')";
		}
		.user-tools{
			a{
				color:#FFF;
			}
		}
		.admin-icon{
			font-weight: bold;
			color: #009899;
			text-indent: -9999px;
			padding: 0px 15px;
		}
		span.admin-number {
			border: 1px solid #FFF;
			padding: 5px 15px;
			margin: 10px;
			@include border-radius(4px, 4px);
		}

		span.icon-bar{
			background: #FFF;
		}	
}

// Menu
#Menu {
	background-color: white;
	padding:15px 0px;
	font-size: 16px;
		.control-menu {
			
			li {
				@include inline-list;
				border-right: 1px solid #CCC;
				text-align: center;
				&:last-child {
				  border-right: 0px solid #CCC;
				}
			}
			.dropdown-menu{
				background:$brand-marvel-contrast;
				padding: 0px;
				top: 43px;
				li {
					clear: both;
					color: #FFF;
					display: block;
					border-right: none;
					text-align: left;
					padding: 10px !important;
					border-bottom: 1px dashed #FFF;
					&:last-child {
					  border-bottom: 0px solid #CCC;
					}
					&:hover {
					  background: darken($brand-marvel-contrast, 6.5%);
					  cursor: pointer;
					}
				}
			}
		}
}

